# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv/

# PyTorch
*.pt
*.pth
*.onnx

# Data
data/processed/*
!data/processed/.gitkeep
data/raw/*
!data/raw/.gitkeep

# Jupyter
.ipynb_checkpoints/
